<!DOCTYPE html>
html(lang="cn" data-vue-meta-server-rendered)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    | !{meta}!{title}!{styles}
  body
    #root !{appString}
    | !{initalState}!{scripts}
